    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!-- <div class="user-panel">
            <div class="pull-left image">
              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Alexander Pierce</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div> -->
          <!-- search form -->
          <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <!-- <li class="header">MAIN NAVIGATION</li> -->
            <!-- <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a> -->
              <!-- <ul class="treeview-menu"> -->
                <li class="treeview"><a href=""><i class="fa fa-dashboard"></i>Dashboard</a></li>
              <!-- </ul> -->
            <!-- </li> -->

            <!-- Administration -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Administration</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a md-ink-ripple routerLink="administration/users"><i class="fa fa-circle-o"></i> Users</a></li>
                <li><a md-ink-ripple routerLink="administration/number-seq"><i class="fa fa-circle-o"></i> Number sequence</a></li>
              </ul>
            </li>

            <!-- Business partner -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Business partner</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a md-ink-ripple routerLink="business-partner/customer"><i class="fa fa-circle-o"></i> Customer</a></li>
                <li><a md-ink-ripple routerLink="business-partner/merchant"><i class="fa fa-circle-o"></i> Merchant</a></li>
                <li><a md-ink-ripple routerLink="business-partner/courier"><i class="fa fa-circle-o"></i> Courier</a></li>
              </ul>
            </li>

            <!-- Accounting -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Accounting</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a md-ink-ripple routerLink="accounting/coa"><i class="fa fa-circle-o"></i> COA</a></li>
                <li><a md-ink-ripple routerLink="accounting/journal-entry"><i class="fa fa-circle-o"></i> Journal entry</a></li>
                <!-- Accounting report -->
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle"></i> Report
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a md-ink-ripple routerLink="accounting/report/report-1"><i class="fa fa-circle-o"></i> Report 1</a></li>
                    <li><a md-ink-ripple routerLink="accounting/report/report-2"><i class="fa fa-circle-o"></i> Report 2</a></li>
                  </ul>
                </li>
                <!-- Accounting setup -->
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle"></i> Setup
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a md-ink-ripple routerLink="accounting/setup/setup-1"><i class="fa fa-circle-o"></i> Setup 1</a></li>
                    <li><a md-ink-ripple routerLink="accounting/setup/setup-2"><i class="fa fa-circle-o"></i> Setup 2</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <!-- Cash & Bank -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Cash & Bank</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a md-ink-ripple routerLink="cash-bank/cash-bank"><i class="fa fa-circle-o"></i> Cash / Bank</a></li>
                <li><a md-ink-ripple routerLink="cash-bank/journal-entry"><i class="fa fa-circle-o"></i> Journal entry</a></li>
                <li><a md-ink-ripple routerLink="cash-bank/report"><i class="fa fa-circle-o"></i> Report</a></li>
              </ul>
            </li>

            <!-- Transactions -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>E-Commerce</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a md-ink-ripple routerLink="cash-bank/cash-bank"><i class="fa fa-circle-o"></i> Cash / Bank</a></li>
                <li><a md-ink-ripple routerLink="cash-bank/journal-entry"><i class="fa fa-circle-o"></i> Journal entry</a></li>
                <li><a md-ink-ripple routerLink="cash-bank/report"><i class="fa fa-circle-o"></i> Report</a></li>
              </ul>
            </li>

            <!-- Warehouse -->
            <li class="treeview">
                <a href="#">
                  <i class="fa fa-folder"></i>
                  <span>Warehouse</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a md-ink-ripple routerLink="warehouse/product"><i class="fa fa-circle-o"></i> Product</a></li>
                  <li><a md-ink-ripple routerLink="warehouse/location"><i class="fa fa-circle-o"></i> Location</a></li>
                  <!-- Warehouse transactions -->
                  <li class="treeview">
                    <a href="#"><i class="fa fa-circle"></i> Transactions
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a md-ink-ripple routerLink="warehouse/transaction/trans-1"><i class="fa fa-circle-o"></i> Transaction 1</a></li>
                      <li><a md-ink-ripple routerLink="warehouse/transaction/trans-2"><i class="fa fa-circle-o"></i> Transaction 2</a></li>
                    </ul>
                  </li>
                  <!-- Warehouse report -->
                  <li class="treeview">
                      <a href="#"><i class="fa fa-circle"></i> Report
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a md-ink-ripple routerLink="warehouse/report/report-1"><i class="fa fa-circle-o"></i> Report 1</a></li>
                        <li><a md-ink-ripple routerLink="warehouse/report/report-2"><i class="fa fa-circle-o"></i> Report 2</a></li>
                      </ul>
                    </li>                    
                </ul>
              </li>

            <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-yellow">12</small>
                  <small class="label pull-right bg-green">16</small>
                  <small class="label pull-right bg-red">5</small>
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level One
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li class="treeview">
                      <a href="#"><i class="fa fa-circle-o"></i> Level Two
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
              </ul>
            </li>
            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>