<div class="wrapper">
  <app-appheader></app-appheader>
  <app-appmenu></app-appmenu>

  <div class="content-wrapper">
    <!-- <app-dashboard></app-dashboard> -->
    <router-outlet></router-outlet>
  </div>
  
  <app-appfooter></app-appfooter>
  <app-appsettings></app-appsettings>

  <!-- <div class="control-sidebar-bg"></div> -->
</div>